
{% extends 'adminPages/admin_base.html' %}

{% block title %}
 Admin | Products
{% endblock %}

  {% block content %}

  <h1 class=" p-5">Liste complète des articles  </h1>
  <div class="container">   
   <div class="row">
    <a class="btn btn-primary"  href="{% url 'ecommerceApp:admin-add-product' %}">Ajouter un produit</a>
    <table class="table table-secondary table-hover table-striped">
        <thead>
          <tr>   
            
            <th scope="col">ID</th>
            <th scope="col">Titre</th>
            <th scope="col">Slug</th>
            <th scope="col">Categorie</th>
            <th scope="col">Image</th>
            <th scope="col">Prix de vente</th>
            <th scope="col">Garrantie</th>
            <th scope="col">Politique de retour</th>
            <th scope="col">Nombre de vues</th>
          </tr>
       
        </thead>
        <tbody>
    {% for product in products %}    
    <tr>

              <th scope="row">{{ product.id }}</th>
             <td> <a href="#">   
                {{product.title}}  </a> </td>
              <td>{{product.slug }}</td>
              <td>{{product.category.title}}</td>
              <td><img src="{{ product.image.url }}" class="card-img-top" alt="loading ..." style="height:60px;">
              </td>
              <td>{{product.selling_price}} F CFA</td>
              <td>{{product.warranty}}</td>
              <td>{{product.return_policy}}</td>
              <td>{{product.view_count }} </td>                
            </tr> 
    {% endfor %}
</tbody>
</table>
  </div>
     
  </div>

 <!-- BOOTSTRAP AND DJANGO PAGINATION-->
<nav aria-label="...">
  <ul class="pagination">
    {% if products.has_previous %}
    <li class="page-item">
      <a class="page-link"  href="?page={{ categories.previous_page_number }}"><i class="fa fa-angle-double-left"></i></a>
    </li>
    {% else %}
      <li class="page-item disabled">
      <a class="page-link"  href="#" tabindex="1" aria-disabled="true"><i class="fa fa-angle-double-left"></i></a>
    </li>
    {% endif %}


    {% for num in categories.paginator.page_range %}
    
      {% if num == categories.number %}
      <li class="page-item active"><a class="page-link" >{{num}}</a></li>
      
      {%else %}
      <li class="page-item"><a class="page-link" href="?page={{num}}">{{num}}</a></li>
      {%endif%}
    {% endfor %}
   
    {% if categories.has_next %}
    <li class="page-item">
      <a class="page-link"  href="?page={{ categories.next_page_number }}"><i class="fa fa-angle-double-right"></i></a>
    </li>
    {% else %}
    <li class="page-item disabled">
      <a class="page-link"  href="#"><i class="fa fa-angle-double-right"></i></a>
    </li>
    {% endif %}
  </ul>
</nav>

   {% endblock %}
        



