
{% extends 'base.html' %}

{% block title %}
 checkout Cart
{% endblock %}

  {% block content %}

  <h1 class=" p-5 text-center border-b-2">Verification du Contenu du Panier</h1>
  <div class="container">
    
   <div class="row">
    
    <div class="col-sm-12 col-md-8">
        <h2 class=" p-5 text-center border-b-2 ">Contenu du Panier</h2>

        <table class="table table-secondary table-hover">
            <thead>
                <tr>
                    
                  <th scope="col">N°</th>
                  <th scope="col">Produit</th>
                  <th scope="col">Montant Evalué</th>
                  <th scope="col">Quantité</th>
                  <th scope="col">Total</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>

                {% for cart_product in  cart.cartproduct_set.all %}
                <tr>
                  <th scope="row">{{ forloop.counter }}</th>
                  <td>{{cart_product.product.title}}</td>
                  <td>{{cart_product.rate }} F CFA</td>
                  <td>{{cart_product.quantity}}</td>
                  <td>{{cart_product.subtotal}} F CFA </td>
                  <td> 
                    <a href="{% url 'ecommerceApp:cart-manage' cart_product.id %}?action=increase" class="btn btn-primary"><i class="fa fa-plus"></i></a>
                    <a href="{% url 'ecommerceApp:cart-manage' cart_product.id %}?action=decrease" class="btn btn-warning text-light"><i class="fa fa-minus"></i></a>
                    <a href="{% url 'ecommerceApp:cart-manage' cart_product.id %}?action=delete" class="btn btn-danger fw-bolder">x</a>
                </td>

                </tr>               
                {% endfor %}
                <tr>
                    <th colspan='2' class='text-end'>Total  :</th>
                    <th class="fs-3 fw-bold text-primary"  colspan='3'>{{cart.total }} F CFA</th> 
                    {% if cart.cartproduct_set.all %}
                  <th class="fs-3 fw-bold text-light" colspan='2'> <a href="{% url 'ecommerceApp:empty-cart' %}" class="btn btn-dark">Vider Carte</a> </th>   
                  {% endif %}     
                  </tr>
              </tbody>
          </table>
    </div>

    <div class="col-sm-12 col-md-4">
        <h2 class=" p-5 text-center border-b-2 ">Formulaire de Verification</h2>
        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
         <button type="submit" class ="btn btn-primary"> Placer la Commande </button>
        </form>

    </div>

  </div>

  </div>

   {% endblock %}

    