
{% extends 'base.html' %}

{% block title %}
 Order Detail
{% endblock %}

  {% block content %}

  <h1 class=" p-3 text-center border-b-2"></h1>
  <div class="container">
    
   <div class="row">
    
    <div class="col-sm-12 col-md-6">
        <h2 class=" p-5 text-center border-b-2 ">Informations sur la commande </h2> <hr>
        
        <p> <span>ID  : </span>{{order.id}}</p>
        <p> <span>Auteur : </span>{{order.ordered_by}} ({{order.email}})</p>
        <p> <span>Adressse de Livraison: </span>{{order.shipping_adress }} F CFA</p>
        <p> <span>Telephone : </span>{{order.mobile}}</p>
        <p> <span>Sous total  </span>{{order.subtotal}} F CFA</p>
        <p> <span>Reduction  : </span>{{order.discount}} F CFA</p>
        <p> <span>Total : </span>{{order.total}} F CFA</p>
        <p> <span>Statut : </span>{{order.order_status}} </p>
        <p> <span>Date de Création  : </span>{{order.created_at }} ({{order.created_at | timesince }}) </p>

         
    </div>

    <div class="col-sm-12 col-md-6">
        <h2 class=" p-5 text-center border-b-2 ">Contenur de la commande</h2> 
        
        <table class="table table-secondary table-hover">
              <thead>
                <tr> 
                    <th scope="col">N° </th>                
                  <th scope="col">ID </th>
                  <th scope="col">ID Cart</th>
                  <th scope="col">Titre Produit</th>
                  <th scope="col">Prix Unitaire</th>
                  <th scope="col">Sous total</th>
                  
                </tr>
             
              </thead>
              <tbody>

                {% for cartproduct in  order.cart.cartproduct_set.all %}
                <tr> 
                <td>{{forloop.counter}}</td>
                   
                 <th scope="row"> {{ cartproduct.id }}</th>
                  <td>{{cartproduct.cart.id}}</td>
             ss     <td> <a href="{% url 'ecommerceApp:product-detail' cartproduct.product.slug %}">{{cartproduct.product.title  }}  </a>  </td>
                  <td>{{cartproduct.rate}} F CFA</td>
                  <td>{{cartproduct.quantity}} F CFA </td>
                  <td>{{cartproduct.subtotal}} F CFA</td>
                               
                </tr>  
                         
                {% endfor %}
               
              </tbody>
          </table>

  </div>

  </div>

   {% endblock %}

    