
{% extends 'base.html' %}

{% block title %}
 Email forgot
{% endblock %}

  {% block content %}

      {% if request.GET.msg == "sent" %}
     <h1 class=" p-5 text-center border-b-2">
        Password reset link is sent to your email , check it immediatly !
    </h1>
      {% else %}
      
  <h1 class=" p-5 text-center border-b-2">Reinitialisation de mot de passe </h1>
  <div class="container">
    {% if request.GET.msg == "error" %}
    <h2 class=" p-3 text-center border-b-2 text-danger">

        Il se pourait qu'une erreur s'est produite, veuillez renseigner de nouveau votre mail
    </h2>

      {% endif%}
   <div class="row">
    
    <div class="col-sm-12 col-md-8 mx-auto" >
        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}
         <button type="submit" class ="btn btn-primary">Valider</button>
        </form>

    </div>

  </div>

  </div>
 {% endif %}
   {% endblock %}

  

    